
body {
    /* font-family: "Lucida Console", Monaco, monospace; */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: rgb(43, 43, 43);
}

#alert {
    left: 15px;
    top: 15px;
    position:absolute;
    background: rgba(255,180,180,0.7);
    border:1px solid rgba(0,0,0,0.7);
    border-radius:3px;
    padding: 5px;
}

.material-icons {
    margin-right: 5px;
    cursor: default;
}

#about {
    position:absolute;
    margin-top: 2%;
    margin-left: 92%;
}

#about .material-icons {
    color: #222;
    cursor: pointer;
}

#sidebar {
    position:absolute;
    z-index:1;
    top:10px;
    right:22px;
    width:280px;
    padding: 0px;
}

legend {
    font-weight: bold;
}

#filters {
    width: 100%;
    border:1px solid rgba(0,0,0,0.7);
    border-radius:5px;
    background:rgba(240,240,240,0.9);
    padding: 3px;
}

#info {
    width: 100%;
    margin-top: 20px;
    border:1px solid rgba(255,255,255,0.1);
    border-radius:3px;
    background:rgba(0,0,0,0.7);
    color:rgb(220,220,220);
    padding: 5px;
}

.slider {
    font-size: 75%;
    margin: auto;
    align: center;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 50px;
}

/* .flex-container { */
.slide-line {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
}

.slide-wrapper {
    width: 100%;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.slide-val {
    /* border:1px solid rgba(0,0,0,0.1); */
    /* border-radius:3px; */
    /* background:rgba(255,255,255,0.5); */
    font-size: 90%;
    -webkit-flex-basis: 55px; /* Safari */
    flex-basis:         55px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.filter-group {
    width: 95%;
    padding: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.2);
    /* border-radius:3px; */
    /* border:1px solid rgba(0,0,0,0.2); */
    /* color: rgb(75, 75, 75); */
    margin-bottom: 10px;
}

.filter-group-top {
    margin-top: 8px;
}

.filter-group-bottom {
    margin-bottom: 3px;
    border-bottom:none;
}

.filter-group-label {
    font-size: 90%;
}

.filter-group-member {
    margin-top: 7px;
    margin-bottom: 7px;
}

.filter-group-member-top {
    margin-top: 7px;
}

.filter-group-member-bottom {
    margin-bottom: 0px;
}

.filter-select {
    width: 100%;
}

.filter-select select {
    margin-left: 35px;
}
